[2019-04-17 14:12] brianpurkiss opened #3 "A UI method to add background colors to containers/columns"
I know I can add classes to add backgrounds and text colors and other styles to blocks, but I can't tell a non-developer client to do that.

Similarly, a single column layout would be neat to get paired with the background/text color. It would allow clients to add sections of content with alternating background colors.

If we wanted to get super fancy, background images would be nifty, but I'd rat

[2019-04-26 19:30] tschortsch commented on #3
Hi @brianpurkiss. We're implementing a background-color selector on a column level right now. It will probably included in the next version of the plugin.
You can already add your own row templates with the `wpBootstrapBlocks.row.templates` filter (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin#wpbootstrapblocksrowtemplates).

I'm not sure if we will implement a background-image se

[2019-05-20 11:31] Tarka-Dhal opened #5 "Support for more grid columns."
Hello, is possible to create support for more columns than 12? I'm using $grid-columns: 24; in some templates to more precision layout.

Thank you.

[2019-05-28 10:29] tschortsch commented on #5
Hi @Tarka-Dhal. In the current solution the 12 columns are hardcoded. So sadly it's not easily possible to change it to 24. The feature itself shouldn't be too hard to implement but we would then need to add a Plugin setting page itself to adjust to value. At some point we will add that but it doesn't have a high priority for us.

[2019-06-07 14:29] brianpurkiss opened #6 "Request: Support for single column option"
It'd be very nice to have an option of having a single column row.

This'll be useful for doing things like having an 8 col justified center setup. Or a full with section with a background color - things like that.

[2019-06-09 14:54] tschortsch commented on #6
Hi @brianpurkiss
You can already do this by using the `wpBootstrapBlocks.row.templates` JS filter and the `wp_bootstrap_blocks_row_default_attributes` PHP filter like this:

[code]

[code]

[2019-06-11 15:30] brianpurkiss commented on #6
Thanks @tschortsch!

Minor thing, it's `wp.hooks.addFilter( 'wpBootstrapBlocks.row.templates', 'mytheme/wp-bootstrap-blocks/row/templates', customRowTemplates );` for the JS file. `addFilter` wasn't working for me, but `wp.hooks.addFilter` did the trick.

And for anyone else reading this digging into custom Gutenberg Blocks for the first time, here's a nice article on how you can enqueue the above

[2019-06-11 15:30] #6 closed

[2019-06-19 18:16] tschortsch commented on #3
We released version [1.1.0](https://github.com/liip/bootstrap-blocks-wordpress-plugin/releases/tag/1.1.0) of the plugin today. You can now set a background-color on the column block.

[2019-06-19 18:16] #3 closed

[2019-06-24 20:12] briansteeleca opened #8 "Several stylesheet files loaded on front-end"
I see that there's several stylesheets being loaded on the front-end – I'm wondering if these are necessary for the front-end or if some should only be loaded in the admin dashboard?

- /wp-content/plugins/bootstrap-blocks-wordpress/dist/blocks.style.build.css?ver=1.1.0
- /wp-includes/css/dist/editor/style.min.css?ver=5.2.2
- /wp-includes/css/dist/nux/style.min.css?ver=5.2.2
- /wp-includes/css/dis

[2019-06-26 14:03] tschortsch commented on #8
Thanks for the bug report! You're right, there was a dependency to the `wp-editor` styles while loading our own block styles which we didn't really need.
We just released a new version of the plugin [`1.2.0`](https://github.com/liip/bootstrap-blocks-wordpress-plugin/releases/tag/1.2.0) which removes this dependency. It also comes with a new filter `wp_bootstrap_blocks_enqueue_block_assets` which m

[2019-06-26 14:03] #8 closed

[2019-06-26 14:57] briansteeleca commented on #8
Thanks for fixing this so quickly @tschortsch, this is perfect! And I must say, I love user experience of this plugin in the editor – so easy to use. I'm looking forward to using it in the real world. Thanks for your great work! :)

[2019-06-28 16:46] briansteeleca opened #10 "How to use filter hook for templates?"
I see you can add your own templates with the wpBootstrapBlocks.row.templates filter (https://github.com/liip/bootstrap-blocks-wordpress-plugin#wpbootstrapblocksrowtemplates), but not being versed on block development, I don't understand how to use this filter. Where should this code be added?

It looks like one could modify the templates in row/block.js, but the filter seems like a better option.

[2019-06-29 08:25] tschortsch commented on #10
You can use this usage example as a starting point to modify the templates: https://github.com/liip/bootstrap-blocks-wordpress-plugin#usage-9
Just place it in a JavaScript file in your theme (eg. `bootstrap-block-row-templates.js`) and load the file like this:
[code]

[2019-06-29 12:07] briansteeleca commented on #10
Thanks Jürg, much appreciated!

[2019-06-30 13:23] tschortsch commented on #10
Glad to help 👍🏻

[2019-06-30 13:23] #10 closed

[2019-09-01 19:49] Jonofat opened #12 "How to add a class just to the row class, not the wp bootstrap blocks row class"
When I create a row, there are 2 divs created, one with wp bootstrap blocks row and then underneath that the normal boostrap row.

How can I add a class to the normal `<div class="row"></div>`?

I tried adding a class through the options in Gutenberg but it adds the class to wp bootstrap blocks instead of just row.

I want it to look like `<div class="row justify-content-between"></div>`

[2019-09-07 14:24] tschortsch commented on #12
Hi @Jonofat

You can use the [`wp_bootstrap_blocks_row_classes`](https://github.com/liip/bootstrap-blocks-wordpress-plugin#wp_bootstrap_blocks_blockname_classes) filter for that:

[code]

[2019-09-08 18:30] Jonofat commented on #12
Thank you, I will give that a try for sure!

[2019-09-08 18:53] #12 closed

[2019-09-15 13:20] unsalkorkmaz opened #13 "Wrong Example in Documentation"
Hi,

Thanks for plugin!

If I am not wrong;
`add_filter( 'wp_bootstrap_blocks_template_path', 'block-templates/' );`
should be
[code]

[2019-09-15 14:09] unsalkorkmaz opened #14 "add_theme_support( 'align-wide' );"
Hi,
`add_theme_support( 'align-wide' );`
This code adds full width support to images etc.. More info:
https://developer.wordpress.org/block-editor/developers/themes/theme-support/#wide-alignment

It seems we have to add `data-align="full"` to wp-block container in gutenberg for showing in 100% width. I didn't inspect all codes so please forgive me for not finding proper solution. What is your solu

[2019-09-23 16:27] tschortsch commented on #13
You're totally right. It's fixed now!

[2019-09-23 16:27] #13 closed

[2019-09-23 16:35] tschortsch commented on #14
During block registration (`registerBlockType()`) you can enable the `align` feature by adding it to the `supports` property -> see https://developer.wordpress.org/block-editor/developers/block-api/block-registration/#supports-optional.

This is how we did it in the `row` block: https://github.com/liip/bootstrap-blocks-wordpress-plugin/blob/master/src/row/block.js#L132

[2019-09-23 16:55] unsalkorkmaz commented on #14
Well.. I mean when you select "fluid" option.. nothing happens

[2019-09-24 18:41] tschortsch commented on #14
What do you mean by "nothing happens"? Doesn't it stretch the block in the editor? Or doesn't it add the `data-align="full"` attribute?
Maybe you missed adding the `wp-edit-blocks` style dependency while loading your block styles?
See: https://github.com/liip/bootstrap-blocks-wordpress-plugin/blob/master/src/class-wp-bootstrap-blocks.php#L164

[2019-09-25 10:35] unsalkorkmaz commented on #14
Let me ask:
When you create a container, there is a "fluid" option in sidebar. What intended when you click to it? Does it becomes 100% width? Nothing happens to me tbh

[2019-09-25 10:39] tschortsch commented on #14
ah sorry. now I get it. If you select the `fluid` option in the container block it gets rendered with the `container-fluid` class from bootstrap (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin/blob/master/src/templates/container.php#L28). Sadly we didn't implement any style change in the editor. That's why "nothing happens" in Gutenberg when you select this option.

[2019-09-25 10:58] unsalkorkmaz commented on #14
Yep.. so somehow, we have to relate "align full" & "fluid".

[2019-09-25 11:03] tschortsch commented on #14
What do you mean by relate? If you would like a full-width block just don't wrap it in a container. We implemented a container-like behavior (minus margin left and right) in the `row` block if you set it to `align full`.

[2019-09-25 14:45] unsalkorkmaz commented on #14
What was in my mind for container:
When you click to "fluid", auto select "align full" in gutenberg too.

[2019-10-14 20:05] tschortsch commented on #14
Hmm I think there is a difference between `align full` and `container-fluid`. In my opinion `align full` should use the full width of the screen (without any padding). `container-fluid` does the same but respects the gutter (padding) of the grid.

[2019-10-15 19:02] #14 closed

[2019-11-03 14:34] huubl opened #22 "Support for background image"
Hi,

Is there/will there be support for background images on columns?

[2019-11-03 15:53] tschortsch commented on #22
Sadly this is not possible yet. And it probably won't be implemented soon since we try to avoid bringing in too many non-bootstrap features into our blocks. Thinking in components this feature should be part of another block which can be used inside a column (like the Group block -> https://wptavern.com/gutenberg-5-5-adds-new-group-block-for-nesting-child-blocks).

But of course if there is a huge

[2019-11-05 15:00] nicmare opened #23 "Javascript-Filter seems not to work?!"
What is wrong? Do i need to modify something in your sample code? Expecting the new "Brand" Color would appear. But can't see it:
<img width="1237" alt="Screenshot 2019-11-05 15 58 32" src="https://user-images.githubusercontent.com/898582/68218917-66467d00-ffe5-11e9-978b-0a9b17a5ccf3.png">

[2019-11-05 15:13] nicmare commented on #23
and how to get rid of that console warning with old object template structure?! this filter does not work either.

[2019-11-05 19:00] tschortsch commented on #23
Hi @nicmare. These filter examples should work out of the box. You don't need to modify something. Is there an error in the browser console? Maybe your `editor.js` has an error above? If no could you maybe add the full `editor.js` source code and the way you are enqueuing this file? (Maybe there are some dependencies missing?)

The old object template structure can be disabled by returning `false`

[2019-11-06 09:55] nicmare commented on #23
i already have some rules in my js file for gutenberg. they work. but your filters not:
`// styles for gutenberg:
function site_block_editor_styles() {
    wp_enqueue_style( 'gutenberg-styles', get_theme_file_uri( 'editor.css' ), false, '1.0', 'all' );
    wp_enqueue_script( 'be-editor', get_template_directory_uri() . '/assets/js/editor.js', array( 'wp-blocks', 'wp-dom' ), '1.0', true );
}
add_act

[2019-11-06 09:58] nicmare commented on #23
my js file get loaded after yours in source code:

<script type='text/javascript' src='http://localhost/wild/wp-content/plugins/wp-bootstrap-blocks/build/index.js?ver=1.3.1'></script>
--
  | <script type='text/javascript' src='http://localhost/wild/wp-content/themes/bootstrap/assets/js/editor.js?ver=1.0'></script>

[2019-11-06 10:48] tschortsch commented on #23
Ahh I see. Your `editor.js` needs to be loaded before the plugins scripts. This is the only way the plugin can call the added filters. As a quick fix just add a higher priority than the default one (10) to your `enqueue_block_editor_assets` action like this:
`add_action( 'enqueue_block_editor_assets', 'site_block_editor_styles', 9 );`

We will set the blocks action priority to a higher value (> 10

[2019-11-06 11:07] nicmare commented on #23
Nice! That works now! Sorry for that rookie mistake. But i am still new in Gutenberg Blocks… Thank you @tschortsch !

[2019-11-06 12:06] tschortsch commented on #23
Glad that it works! I wouldn't call this a rookie mistake at all since this is not documented anywhere. We really need to adjust our action priority that the custom filters work with the default priority.

[2019-11-06 12:06] #23 closed

[2019-11-29 11:53] stephenbeckett opened #26 "Bug with url encoded paths"
Hello,

I think that line 151 of src/class-wp-bootstrap-blocks.php needs amending to something like:
$index_version = isset( $index_asset[‘version’] ) ? $index_asset[‘version’] : filemtime( **urldecode($index_path)** );

To fix this bug that seems to occur for url encoded paths (containing e.g. space/%20):
Warning: filemtime(): stat failed for /Users/xxxxxx/Local%20Sites/xxxxxx/app/public/wp-conte

[2019-11-29 15:18] tschortsch commented on #26
Hi @stephenbeckett. Thanks for the bugreport! You're totally right. I think the main problem here is that the `asset_dir` variable shouldn't be escped with `esc_url()` at all. I just pushed a fix for this: https://github.com/liip/bootstrap-blocks-wordpress-plugin/commit/b92d20c45d9ebd13e07e57e7960aa97b44385194.

I'll try to release a new version of the plugin with this fix as soon as possible (pro

[2019-12-14 20:41] BWBama85 opened #29 "Table support"
It would be really great to have bootstrap tables supported.

[2019-12-14 20:48] BWBama85 opened #30 "Blockquote Support"
Would it be possible for Bootstrap 4 blockquote support?

[2019-12-16 12:39] tschortsch commented on #29
Hi @BWBama85. We thought about bringing in further Bootstrap components to this plugin. But we came to the solution that for now we would like to stick to the Grid (which is probably to most used feature of Bootstrap) and improve it as far as possible.
The effort to build a table component which already exists and is maintained in Gutenberg core to just change the template which gets rendered woul

[2020-01-15 21:11] gettonet opened #31 "<div class="">"
Awesome tool! Thank you for sharing it.
Is it really necessary to have this wrapping div inside each column?
Whenever I make a column, all that's inside it gets a wrapping `<div class="">`
Is this a bug or it's on purpose?
Example:
`<div class="wp-bootstrap-blocks-row row py-5 mb-0">`
`<div class="col-12 col-md-6 align-self-center">`
`	<div class="">`
`		//////WHATEVER CONTENT INSIDE`
`        </d

[2020-01-15 21:40] gettonet commented on #31
Yeah, I found it in wp-bootstrap-blocks/src/templates/column.php....
Removed the inner div manually.
While this might be good if it can be added optionally, I have found that if it's present always and by default, it's impossible to fully style inner content. For example, I have a group of blocks inside the column, and I give it a class "h-100" - but it's not doing anything because of the problema

[2020-01-16 19:50] tschortsch commented on #31
Hi @gettonet. Yes we're aware of this empty `<div>` in the column template. It is used to set the background-color if selected.
But you're right we could think about not rendering the div if there is no background-color chosen. In the meantime you can just create a new folder called `wp-boostrap-blocks/` inside of your theme folder and copy & paste the `wp-bootstrap-blocks/src/templates/column.php

[2020-01-16 19:50] #31 closed

[2020-01-16 19:57] tschortsch commented on #26
This is fixed in v2.0.0 of the plugin (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin/releases/tag/2.0.0)

[2020-01-16 19:57] #26 closed

[2020-02-16 20:55] psordi opened #33 "Extra div with empty class"
Hello, first of all, great plugin and great work.
I've just noticed that after a column is created, in the HTML output a new 'div' is inserted.
For example:
`<div class="col-12 col-md-4"><div class="">...</div></div>`
Thanks for your attention.

[2020-02-19 15:04] tschortsch commented on #33
Hi @psordi. This is a know issue of the `column` template. It's described in this issue: #31. You'll also find a workaround in the answer. We'll probably will remove the empty div in a next release of the plugin. Such template changes are always a bit critical since they might break current installations.

[2020-02-19 15:04] #33 closed

[2020-02-24 18:29] gpsugy opened #35 "How to Change Background Colors In PHP"
The docs say that background colors for columns can be modified in JavaScript, labeled "wpBootstrapBlocks.column.bgColors." Is there a way to configure these options using PHP `add_filter`? If so, what is the syntax? A reference listing out all the PHP equivalents of the JavaScript ones would be also much appreciated.

Great plugin, by the way!

[2020-02-24 19:05] tschortsch commented on #35
Hi @gpsugy. There is sadly no way to use the JavaScript filters in PHP. This is not possible since they modify the Gutenberg editor on the client side.

[2020-02-24 19:54] gpsugy commented on #35
@tschortsch I see. Thanks for your reply. To utilize the JavaScript filters, I can follow the instructions at the following link, correct? https://github.com/liip/bootstrap-blocks-wordpress-plugin/issues/10

[2020-02-24 19:57] tschortsch commented on #35
Yes exactly!

[2020-02-24 19:57] #35 closed

[2020-03-02 13:30] michelebruno opened #36 "Deprecated Wordpress components"
Hi, Wordpress gives the following warnings when I open the editor.

![immagine](https://user-images.githubusercontent.com/43304601/75680720-7835e500-5c92-11ea-9be0-ce74f488849c.png)

May anybody update the wordpress import statements?

[2020-03-02 13:38] tschortsch commented on #36
Hi @michelebruno. We're aware of the deprecation notices. The problem is that as soon as we update these dependencies we lose the backwards compatibility to older WordPress versions. This is sadly one of the bigger issues in Gutenberg development. We will certainly updates the dependencies as soon as it's needed but we also try to keep the backwards compatibility as long as possible.

[2020-03-02 13:47] michelebruno commented on #36
Ok, thank you very much.

[2020-03-02 13:47] #36 closed

[2020-04-01 09:56] casian96 opened #38 "Support for align and justify classes"
Hello, is it possible to create support for justify-content-*, align-content* offset-* classes without adding them manually?

[2020-04-01 09:58] casian96 opened #39 "Wp 5.4 issue"
Sidebar issue after WP Core update.
<img width="231" alt="Zrzut ekranu 2020-04-1 o 11 42 48" src="https://user-images.githubusercontent.com/26876683/78124468-00351900-7410-11ea-9792-71ac26014da0.png">
<img width="482" alt="Zrzut ekranu 2020-04-1 o 11 58 26" src="https://user-images.githubusercontent.com/26876683/78124538-1c38ba80-7410-11ea-81f1-b4c19c76b87d.png">

[2020-04-01 10:04] #38 closed

[2020-04-01 13:13] tschortsch commented on #39
Hi @casian96. Sadly I can't reproduce this issue. Can you maybe send me your block content (from Code editor) where this issue appears?

[2020-04-03 10:47] attisan opened #40 "publish to gutenbergcloud.org"
would be great to see this effort be published to [gutenbergcloud.org](https://gutenbergcloud.org) so WordPress and Drupal devs would have access to the bootstrap blocks with little to no effort?

[2020-04-03 10:49] tschortsch commented on #40
Good idea! I will look into it.

[2020-04-04 09:04] gettonet opened #41 "Support IDs (HTML Anchors)"
Would be very useful if container or row would have an option to add id, along with class...Any chance of implementing this feature?

[2020-04-04 16:59] tschortsch commented on #41
Hi @gettonet. There was already a feature request to add an ID attribute to the blocks here: https://wordpress.org/support/topic/classes-being-added-to-the-block-outer-and-not-the-row/. As I wrote there in my opinion this should be a feature which should be added by Gutenberg itself. But since this doesn't seem to happen in the near future I will think about adding them to our blocks.

[2020-04-08 17:26] gettonet opened #42 "WP5.4, backend layout issues"
Looks like Gutenberg changed its css, so columns are overlapping. I kinda quick solved it by adding a 14px padding to the block, but it obviously needs to be fixed in an update.

`.wp-block-wp-bootstrap-blocks-row > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="wp-bootstrap-blocks/column"], .wp-block-wp-bootstrap-blocks-row > .editor-inner-blocks > .editor-block-list_

[2020-04-08 19:12] tschortsch commented on #42
You're right. I will try to fix this issue. Our main problem when changing the styling of our blocks is to keep backwards compatibility with older versions of WordPress (and Gutenberg). But let's see what we can do.

[2020-04-09 05:16] tschortsch commented on #42
Should be fixed in version `2.1.0` (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin/releases/tag/2.1.0)

[2020-04-09 05:16] #42 closed

[2020-04-09 05:20] tschortsch commented on #31
This is also fixed in version 2.1.0 of the plugin

[2020-04-09 05:21] tschortsch commented on #33
This is fixed in version 2.1.0 of the plugin.

[2020-04-10 11:23] tschortsch commented on #40
I looked into gutenbergcloud.org and sadly it looks like we won't be able to publish this plugin there. The project only supports JS/CSS-only Gutenberg blocks. Our blocks are build as dynamic blocks (server side rendered) using PHP templates.

[2020-04-10 11:23] #40 closed

[2020-04-10 11:24] tschortsch commented on #39
Will close this issue for now since we can't reproduce it on our side. Please try it again with v2.1.0 of this plugin.

[2020-04-10 11:24] #39 closed

[2020-06-23 06:53] npmDude opened #48 "Row and Button blocks go missing when importing style.scss files on my own plugin"
I created a plugin that has custom blocks for a certain website. But when I import a style.scss file and enqueue it. The Row and Button blocks from this plugin goes missing.

This is the error I get:
Uncaught TypeError: Cannot read property 'call' of undefined
    at c (index.js?ver=130d186358a29f9f3f810962654c962a:1)
    at Module.<anonymous> (index.js?ver=130d186358a29f9f3f810962654c962a:1)

[2020-06-23 18:00] tschortsch commented on #48
How did you register your blocks? Maybe they are using the same name as our blocks? And does your plugin have any relations to this plugin (like depending on it or something similar)?

[2020-06-24 00:02] npmDude commented on #48
<?php
/*
Plugin Name: TRT Blocks
*/

function trt_blocks_register()
{
    $asset_file = include(plugin_dir_path(__FILE__) . 'build/index.asset.php');

    wp_register_script(
        'trt-blocks',
        plugins_url('build/index.js', __FILE__),
        $asset_file['dependencies'],
        $asset_file['version']
    );

    wp_register_style(
        'trt-blocks-editor',
        plugins_url('build

[2020-06-24 00:04] npmDude commented on #48
I just did what was stated on the documentation on wordpress. I am using block name 'button' but my plugin name is different from yours. No relation at all.

[2020-06-24 00:05] npmDude commented on #48
Here is a sample
`$asset_file = include(plugin_dir_path(__FILE__) . 'build/index.asset.php');

    wp_register_script(
        'trt-blocks',
        plugins_url('build/index.js', __FILE__),
        $asset_file['dependencies'],
        $asset_file['version']
    );

    wp_register_style(
        'trt-blocks-editor',
        plugins_url('build/index.css', __FILE__),
        array('wp-edit-blocks',

[2020-06-28 10:02] tschortsch commented on #48
And does it also happen when you do not register your `trt-blocks/button` block? Could you maybe also show me the code where you register this block in JavaScript?

[2020-06-29 02:44] npmDude commented on #48
It is not the `trt-blocks/button` that is making the error. After a few more testing it seems that if two plugins that uses the latest version of wp-scripts both used the css import feature provided particularly the style.scss file. Then the error will occur,

[2020-06-30 07:11] tschortsch commented on #48
Ah now I get it. You're totally right, I could reproduce the described issue with another plugin which bases on `@wordpress/scripts`. This seems to be an issue of the `@wordpress/scripts` package itself. I will create an issue in the Gutenberg repository for that.

[2020-07-01 03:29] npmDude commented on #48
Yes, and I guess I can close this one and wait for the outcome on that issue. Thanks for helping though.

[2020-07-01 03:29] #48 closed

[2020-07-07 17:04] tschortsch commented on #48
This issue should be solved with v2.3.1 (https://github.com/liip/bootstrap-blocks-wordpress-plugin/releases/tag/2.3.1) of the plugin.

[2020-07-08 14:46] atterdal opened #51 "Adding className"
Hi!

I have a global margins "plugin" so that I can add margins for all gutenberg blocks. It works great with the core but it doesn't add the class to bootstrap blocks.

Example code:
`saveElementProps.className = classnames( saveElementProps.className, 'mt-md-' + margins[ attributes.marginTop ] );`

[2020-07-08 14:56] atterdal opened #52 "Adding className"
Hi!

I have a global margins "plugin" so that I can add margins for all gutenberg blocks. It works great with the core but it doesn't add the class to bootstrap blocks.

Example code:
`saveElementProps.className = classnames( saveElementProps.className, 'mt-md-' + margins[ attributes.marginTop ] );`

[2020-07-08 15:04] #51 closed

[2020-07-08 15:12] tschortsch commented on #52
Hi @atterdal. Hmm I think this might not work because we're using dynamic block (Server side rendered) in this plugin (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin#templates) which basically don't have a saveElement (we only return the InnerBlocks content in the save() function. Eg in the row block: https://github.com/liip/bootstrap-blocks-wordpress-plugin/blob/master/src/row/blo

[2020-07-08 18:22] atterdal commented on #52
Ah ok, i'm quite new to gutenberg but would you say that there might be a way around it?

[2020-07-08 19:14] tschortsch commented on #52
So what you're doing is adding the `marginTop` attribute to all the blocks right? If this is the case you should be able to copy the templates of these blocks (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin/tree/master/src/templates) to the `wp-bootstrap-blocks` folder in your theme folder and modify them to also add the margin class if needed (documented here: https://github.com/l

[2020-07-09 11:55] atterdal commented on #52
Amazing, works like a charm!

[2020-07-09 11:55] #52 closed

[2020-07-14 00:51] npmDude opened #53 "All blocks are gone."
After updating to version v2.4.0 and also updating Gutenberg to v8.5.1, all of the bootstrap blocks are gone.
This time no error on the console.

Note: I also have a plugin that uses the wp-scripts' latest version.

Please try to test this on your end.

[2020-07-14 05:34] tschortsch commented on #53
Hmm, sorry I can't really reproduce this. I tried it with the following setup:
- WordPress v5.4.2
- wp-bootstrap-blocks v2.4.0 (which uses @wordpress/scripts v12.1.0)
- wp-scripts-plugin (example plugin which also uses @wordpress/scripts v12.1.0)
- Gutenberg v8.5.1

When I activate all of these plugins I'm still able to insert the blocks provided by them.

[2020-07-14 06:44] npmDude commented on #53
Is this working on npm run build also?

[2020-07-14 06:58] tschortsch commented on #53
Yes, both plugins use assets which were built with the `npm run build` command.

[2020-07-14 08:53] npmDude commented on #53
Can you try adding 2 blocks on your wp-scripts-plugin? Maybe a copy of the Row and Column block from the wp-bootstrap-blocks. Just because when I added a blocks on my plugin that has a parent and allowed blocks relation, then all of the blocks from wp-bootstrap-blocks plugin is gone. Without any errors on the console.

[2020-07-14 10:53] tschortsch commented on #53
I copy/pasted both the `row` and `column` blocks (including parent/child relation) from this plugin to the `wp-scripts-plugin` and the blocks were still all available.

[2020-07-15 00:50] npmDude commented on #53
Alright thanks. Maybe this is an internal problem. It is really hard because there is on console error.

[2020-07-15 02:22] npmDude commented on #53
After a few more testing, I noticed that on my plugin if I rearrange the import on the src/index.js file then blocks from your plugin will comeback. Do you have any idea on why this is happening?

[2020-07-16 19:05] tschortsch commented on #53
Maybe there's still an issue in the @wordpress/scripts package? Is your plugin somewhere on GitHub or could you share the it?

[2020-10-19 03:18] kirabook opened #60 "Carousel and Card Support"
Hello! Just wondering if you guys planned on adding support for cards and carousels. Cards are quite similar to containers/rows/columns so I figure that would be pretty easy. Can't say the same for carousels, but just wanted to know if you were interested. Great work so far! Exactly what I needed for a new client site.

[2020-10-20 19:45] #53 closed

[2020-10-24 11:22] tschortsch commented on #60
Resource wise we're focussing on enhancing and maintaining the grid (container, row and column blocks) right now. Since maintaining compatibility with future Gutenberg versions is already using a lot of time I can't give you an outlook if we're able to bring further blocks into this plugin in the near future. We're of course open for other devs which would like to help us out  👀.

[2020-10-30 08:05] forcecodema opened #61 "Strange className encoding"
Hi,

Double minus sign in className property is encoded in the following way:

[code]

className entered in editor is `offer-deep--img_wrapper`

Regards,

Michal

[2020-10-30 08:08] tschortsch commented on #61
Hmm we're actually using the official className attribute of Gutenberg. But I will look into that.

[2020-10-30 18:03] tschortsch commented on #61
This looks like the default behavior of the editor. It also happens with core blocks. I tried it with the `core/paragraph` block:
[code]
It seems that a double dash gets encoded with unicode characters when saved in the className attribute. But the output on the page seems to be correct again:
[code]

[2020-10-30 18:03] #61 closed

[2020-10-31 01:46] forcecodema opened #62 "Button modification"
It would be nice feature to add the following option to button style in button/edit.js
[code]
and remove empty check inside templates/button.php so that it looks
[code]
This would allow one to set style to other values than two default options (btn-primary | btn-secondary). One could specify style to none and then add additional value via className. There are some other bootstrap styles as well th

[2020-10-31 02:11] forcecodema commented on #41
I agree that it would be nice feature to have - and it is easy to add it.
Let's say for the row block we may add `blockId` or `elementId` attribute in:

class-row-block-type.php
[code]

the default value in the same file like:
[code]

then in row/edit.js
[code]

[code]

and finally modify templates/row.php

[code]

and

[code]

[2020-10-31 09:01] tschortsch commented on #62
You're already able to add additional styles and modify the existing ones with the `wpBootstrapBlocks.button.styleOptions` JavaScript filter. The filter is documented here: https://github.com/liip/bootstrap-blocks-wordpress-plugin#wpbootstrapblocksbuttonstyleoptions.

[2020-11-02 14:36] CP-Antoine opened #64 "JS conflict with other Blocks Plugins. Related to @wordpress/scripts - webpack runtime issue"
Hi Liip team,

First, thanks a lot for your plugin.

I had JS conflict issue with your plugin and another one (that I coded based on` @wordpress/create-block` package).
[code]
**To reproduce**

Steps to reproduce the behavior:

1. Using WordPress 5.5.3, with TwentyTwenty.
2. Install and activate the `bootstrap-blocks-wordpress-plugin`, as the only activated plugin.
3. Add a `wp-bootstrap-blocks/co

[2020-11-02 14:42] tschortsch commented on #64
Thanks a lot for your detailed issue. I‘ll try to look into it as soon as possible. We already had a very similar issue: https://github.com/liip/bootstrap-blocks-wordpress-plugin/issues/48. I‘ll come back to you as soon as I have more information.

[2020-11-04 07:02] #62 closed

[2020-11-14 11:29] tschortsch commented on #64
I could finally look into this issue. It will be fixed in the next release of the plugin (v3.1.1).

[2020-11-14 14:39] tschortsch commented on #64
We‘ve just released v3.1.1 of the plugin which fixes the described bug.

[2020-11-14 14:39] #64 closed

[2020-11-17 11:41] bsweb opened #68 "Struggling to get 1 x col 12 in a row"
Hi,

The default row contains 2 x col-12 col-md-6 columns but I just want 1 x col-12 column but I can't get rid of the other column. Changing to 0 doesn't work and no option to remove.

Thanks.

[2020-11-17 20:45] tschortsch commented on #68
Hi @bsweb. You can choose the `Custom` layout of the Row block to add and remove Columns manually. Otherwise you can change the default behavior of the row block by defining the following filters:
1. Add a new block template with the `wpBootstrapBlocks.row.templates` JavaScript filter (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin#wpbootstrapblocksrowtemplates)
2. Set this new tem

[2020-11-30 14:46] ickledev commented on #5
Now that the plugin has a settings page, any chance this could creep further up the priority list?

[2020-12-03 11:13] nanu-c opened #69 "Container fluid is not respected in backend"
There is no possibility for the gutenberg editor to distinguish between container and container fluid. That would be nice to reduce confusion for non tech-editor of the page.

[2020-12-04 13:19] tschortsch commented on #69
You mean there is no way to visually distinguish between a fluid and a non-fluid container in the editor right? Styling the editor is always a bit tricky since the core Markup and Styles change with nearly every release of Gutenberg/WordPress. That's why we tried to avoid styling modifications as much as possible. But you're right it would definitely make sense to show a visual hint that the curre

[2020-12-04 13:23] tschortsch commented on #5
Good catch 😉  But we will probably start with adding some already existing options to the settings page before creating new ones. The column count also has some hard-to-solve implications on the styling in the editor.

[2020-12-04 17:53] nanu-c commented on #69
Yeah i mean that :). But I would say, setting an extra class in gutenberg for container fluid is enough for me, because if i really want to give a visual hint, I can add some styles to the theme.

[2021-01-27 14:50] bsweb commented on #68
Managed to get around to looking at this and I can't get it to work, I just get
![image](https://user-images.githubusercontent.com/4737211/106006871-975d1280-60ad-11eb-83d5-c5e48e31b6b7.png)

I am trying to achieve this (tried to paste html but doesn't preview). The parent row works but the issue is when I try and do the children row in the first column that is highlighted
![image](https://user-im

[2021-01-28 13:01] tschortsch commented on #68
Hmm I just recreated your described layout in a dummy WordPress 5.6 instance.
<img width="640" alt="gh-issue-68-editor" src="https://user-images.githubusercontent.com/1061850/106141544-8cb78180-6170-11eb-99c4-99df62a2eab9.png">

Here's the generated code:
[code]

and here's the HTML output:
<img width="349" alt="gh-issue-68-output" src="https://user-images.githubusercontent.com/1061850/106141727-d

[2021-05-13 08:02] Wewill opened #75 "Wouldn't be great to support stretch vertical alignment to row > column ?"
Hi team,

Actually, it's possible to verticaly align column in a row : start, center, end. Which is great if you don't have a background color in column. In this case, wouldn't be great to support stretch alignment to fit equal heights to each columns ?

verticalAlignment > adding stretch

<img width="1663" alt="Capture d’écran 2021-05-13 à 10 01 36" src="https://user-images.githubusercontent.com/

[2021-05-14 11:45] tschortsch commented on #75
Hi @Wewill. Currently it's possible to enable the `Center content vertically` (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin#options-2) checkbox in the column options. This sets a height of 100% to the column and centers its content vertically. But you're right, it is not possible to do the same if the content should be aligned to the top.

[2021-05-17 08:08] Wewill commented on #75
Hi @tschortsch,

Thanks a lot for your quick reply ; yes it will be very useful.
And may I suggest to add this parameter to the column toolbar or in a group in metaboxes ? After padding group > `Inner column alignement` or something relevant.

Your plugin is perfect, simple, clean and useful ! Thanks a lot.

Best regards, Wilhem

[2021-05-18 18:27] tschortsch commented on #75
Good idea. Since this setting is related to the background setting we wanted to keep those together. But we will think about this if we implement further options for it.

[2021-06-04 14:21] tschortsch commented on #68
I will close this issue since I can't reproduce it. Please reopen it with further information if the issue still exists.

[2021-06-04 14:21] #68 closed

[2021-06-13 21:03] tschortsch commented on #75
Hi @Wewill. We just released `v3.3.0` of the plugin which supports to vertical align the content of a column block via the block toolbar. The setting is still on column-level (and not on the row block) to not create a dependency (on template side) between those two blocks.

[2021-06-13 21:03] #75 closed

[2021-06-16 16:26] huubl opened #80 "Filter to disable button"
Hi,

I only want to use the container/row/column blocks. What do you think about a filter to disable the button block?

[2021-06-23 04:19] janwidmer opened #81 "Visually Reorder (reverse) grid row columns on desktop"
When using the Grid row as Container to display multiple Text-Image Combinations, its nice to have some variety for desktop screens and start with the image for the first grid row, start with the text for the second one and so on..

On mobile though, where everything is displayed as 100% width, its rather nice to always have the same order 1. Image 2. Text.

To achieve that, an Option to visually

[2021-06-24 09:22] tschortsch commented on #80
Hi @huubl. You should be able to use the WordPress core `unregisterBlockType` filter to achieve this. See https://developer.wordpress.org/block-editor/reference-guides/filters/block-filters/#using-a-deny-list for the documentation.

[2021-06-24 20:58] huubl commented on #80
Thanks! got it working:

[code]

[2021-06-24 20:58] #80 closed

[2021-06-24 21:14] huubl opened #82 "Feature request: better way to control spacing"
Hi,

It think I would be beter if margins and padding can be controlled by breakpoint and top / bottom / left / right. Like this:

![image](https://user-images.githubusercontent.com/50170696/123333104-9e475e80-d541-11eb-9f71-51ee8f409a9e.png)
source: [https://motopress.com/blog/section-gutenberg-block-by-getwid/](https://motopress.com/blog/section-gutenberg-block-by-getwid/)

What do you think?

[2021-07-08 06:25] R33D3M33R opened #84 "Use align-self-* for vertical align instead of using a wrapper"
Dear developers,

when using the "Change text alignment" option, a wrapper gets added inside the column which seems unnecessary, as bootstrap already has align-self-* utilities which can be used directly on a column: https://getbootstrap.com/docs/4.1/utilities/flex/ or https://getbootstrap.com/docs/5.0/utilities/flex/

Using the align-self-* would thus be much simpler. Please consider changing thi

[2021-07-08 10:43] R33D3M33R commented on #81
The best implementation of this would be to add order sliders from 0 to 12 for each breakpoint, and then using order-x classes https://getbootstrap.com/docs/4.1/utilities/flex/#order

@janwidmer: the custom classes don't render in editor, because they are inside wrappers

[2021-07-08 11:03] janwidmer commented on #81
@R33D3M33R good to know.. having and order slider would be nice, but it would also blow up the options meta box quite a bit..

[2021-07-09 06:20] tschortsch commented on #84
Hi @R33D3M33R. You are speaking about the "Change vertical alignment of content" option of the column block right? Because in the row block there shouldn't be an additional wrapper (only classes).
This behavior was introduced some time ago to also make the background color fill the whole column if applied. Changing it would be a (bigger) breaking change and we try to avoid those as good as possibl

[2021-07-09 07:36] R33D3M33R commented on #84
Hi @tschortsch,

Thank you for your explanation - I see now that the wrapper is necessary. We have successfully overridden the template, so everything is ok.

Thanks again and best regards,
Andrej

[2021-07-09 07:36] #84 closed

[2021-07-22 06:02] tschortsch commented on #82
Hi @huubl. You are right but we really tried to not clutter the UI with a lot of options. Introducing the breakpoints for every option would of course be nice but with that the UI gets more and more complex.

[2022-02-18 08:34] elmarbransch opened #100 "Unable to lint or build"
Hi, thanks for this fantastic work.

We wanted to add some blocks and reduce the edit options.
I follewed the docs here, but no matter what I trry, I am unable to lint or build the project.

I chased this in various discussion and found out these issues

in ".stylelintrc.json"

with ""extends": "@wordpress/stylelint-config",

i get an error in the linting module
Error: Could not find "@wordpress/s

[2022-02-18 12:14] elmarbransch commented on #100
Hi @tschortsch , thanks for the ultrafast reply!
basically I did : git clone ... npm install ... composer install ... and then I got those errors already on npm run lint

I did, but then get this lintng issues about @ and # chars anyway with the standard .stilelintrc.json

uhh, my bad, sorry :) yes, node 16, npm 8

I get some audit suggestions as usual, but no errors.

Let me try to restart from s

[2022-02-18 12:57] elmarbransch commented on #100
I tried a fresh start and I saw a lot of warning and deprecations. Not sure, it these are harmful? (see below)

If i then try to lint I still get

<my local path>/bootstrap-blocks-wordpress-plugin/src/row/style.scss: When linting something other than CSS, you should install an appropriate syntax, e.g. "postcss-scss", and use the "customSyntax" option
<my local path>/bootstrap-blocks-wordpress-plug

[2022-02-18 19:08] elmarbransch commented on #100
Hey @tschortsch, sorry for the buzz, I cloned the repo in a new folder again and run composer/npm install and now it runs fine. No idea what changed on my end, but I am lucky it worked :)
I guess I loaded some addtional npm packages while trying around and now it works with a clean setup.

[2022-02-18 19:08] #100 closed

[2022-02-20 19:26] elmarbransch commented on #100
many thanks! And thanks for your support!

[2022-03-31 03:11] rospencers opened #101 "No Column block exists"
I just did a fresh install of version 4.0.1, downloaded directly from https://wordpress.org/plugins/wp-bootstrap-blocks/

There is no Column block.
Unfortunately, lack of a Column block makes this pretty much impossible to use.

Container, Row, and Button all exist. But no Column. If I search blocks for "bootstrap" and/or "bootstrap blocks," or if I browse all -- same result: no Column block.

Thi

[2022-03-31 07:13] tschortsch commented on #101
Hi @rospencers. Thanks for your feedback. Actually this behavior is intended. As the column block requires to be wrapped in a row block we defined it to be only insertable in a row block. So what you need to do is inserting a row block and inside this you will be able to add as many column blocks as you would like to. Hope this helps!

[2022-03-31 17:04] rospencers commented on #101
@tschortsch Thanks for responding, But yes, I already understand that. That's precisely the flow I am using. And that is what I am reporting: inside a Row, there no Column block provided as an option for insertion.

Specifically:
1. I add a Container
2. Inside that I add a Row
3. In the Row is a square with a plus sign and the tooltip prompt "Add a block."
4. I click that in order to add a Column.

[2022-03-31 18:21] tschortsch commented on #101
I just tried to reproduce your issue and I think I found the underlying problem. The "row" block you're adding inside the container is the one from the WordPress core and not the one from the plugin itself. You can differentiate them by the icons.
<img width="338" alt="row-blocks" src="https://user-images.githubusercontent.com/1061850/161123374-a1fe2a98-d2e0-48e6-acd0-d32e764189a8.png">
Could you

[2022-04-01 06:30] tschortsch commented on #101
To solve your problem you can define a custom columns template for the row block which fits your needs with the [wpBootstrapBlocks.row.templates](https://github.com/liip/bootstrap-blocks-wordpress-plugin#wpbootstrapblocksrowtemplates) JavaScript filter. Afterwards you can override the default template of the row block with the [wp_bootstrap_blocks_row_default_attributes](https://github.com/liip/bo

[2022-04-01 19:37] rospencers commented on #101
@tschortsch Marvelous. Thanks very much for the tip, and the kind offer to assist! If I get bogged down, I'll reach out separately.

Meanwhile, since this particular "bug" is resolved (as operator error), I'll close this. Thanks again!

[2022-04-01 19:37] #101 closed

[2022-05-10 07:54] gocsp opened #104 "Block row attributes reflection"
hi @tschortsch,

is there a reason why `noGutters`, `horizontalGutters` and `verticalGutters` will not reflect in the DOM? My problem is if you change those attributes you'll always have to look at frontend to see how the change looks.

[code]

[2022-05-11 21:06] tschortsch commented on #104
We once decided to only implement "important" styling in the block editor since it's pretty difficult keeping them compatible to multiple versions of WordPress/Gutenberg. But you're right it probably makes sense to reflect the gutters (at least the verticalGutters) in the editor since we're adding a padding-left and padding-right to the columns. I'll try to add those styles in the next release.

[2022-05-17 13:44] tschortsch commented on #104
Hi @gocsp. We just released v4.2.0 of the plugin which now reflects (at least) the "no gutters" and "none horizontal gutters" state (see: https://github.com/liip/bootstrap-blocks-wordpress-plugin/releases/tag/4.2.0). We can't really reflect specific gutter states since those gutters can be added or removed dynamically by a filter. Hope this helps your use case anyway.

[2022-05-18 04:59] gocsp commented on #104
hi @tschortsch, thank you very much! The no gutters option works perfect. i got your point regarding the `verticalGutters`. I tested the `horizontalGutters` too and one thing caught my eye. You implemented the option for the column background color (which is great) but there is a difference between editor and frontend. In the frontend you create a child `div` with the color class, this child div i

[2022-05-18 05:10] gocsp commented on #81
I'm working on a project where i stumble about a similar problem. In my case i need only the reverse order for smaller than `medium` breakpoints.

https://gist.github.com/gocsp/c7b303b3bc09dd022d5cfa32f44b43c3

![Image 2022-05-18 at 7 07 37 AM](https://user-images.githubusercontent.com/1309689/168961406-faf69e89-916e-4c3f-a673-5fa69230b09f.jpg)

The only thing it will do is add those classes to th

[2022-07-10 17:51] janwidmer opened #109 "Support Color Settings"
Default Gutenberg Components offer the option to set a font / background color. This widget is offered by gutenberg and can also be implemented for custom blocks, see https://awhitepixel.com/blog/how-to-add-color-settings-to-your-custom-gutenberg-block/

It would be great, if this block could also support the colors widget.

[2022-07-28 03:20] rospencers opened #111 "Can no longer insert additional columns in "custom" Row"
Using:
- Bootstrap Blocks **4.2.1**, wiith Bootstrap Version **5.x** selected in Settings
- WordPress **6.0.1**

I am no longer able to insert additional columns into a **Row (Bootstrap)**, even when I've selected the "Custom" option in the _Change layout._ panel for the Row.

I am able to delete Columns, unless there is only one left (which makes perfect sense). But I cannot add any additional Co

[2022-07-29 20:27] tschortsch commented on #111
Hi @rospencers. I sadly couldn't reproduce your issue in a fresh WordPress 6.0.1 setup. I inserted the following block combination: Container (Bootstrap) > Row (Bootstrap) > Columns (Bootstrap). I've set the row to use the custom template. As soon as it's selected I see the little plus sign on the lower left of the row block. Screenshot:
<img width="1428" alt="image" src="https://user-images.githu

[2022-07-29 20:32] tschortsch commented on #109
Thanks for bringing in this idea. But I think there could be an issue with using the colors defined in WordPress. I don't think they would match the color names of your bootstrap setup (like primary, secondary, ...). That's why we created it as a separate list of colors (which can be extended via a filter). But maybe I'm missing something (?)

[2022-07-30 00:01] rospencers commented on #111
Argh. Yeah, this is 100% operator error/obliviousness..

Thanks for responding, and sorry for having wasted your time.

[2022-07-30 00:01] #111 closed

[2022-08-18 19:32] alahmnat commented on #109
I second this request.

At the very least, reading in the theme colors would be beneficial, because at least for the sites I build, I don't tend to mess around with the default colors for Bootstrap in the package itself. I also don't use Bootstrap's primary/default/etc. style conventions when building block-level elements. All that stuff lives in its own definitions and draws off of WordPress's th

[2022-08-26 10:25] Sishasong opened #112 "Error on npm install"
Hi there,

i'm trying to install node dependencies to update my PR for the accordion feature i got an ERESOLVE error with prettier package.

`npm ERR! code ERESOLVE`
`npm ERR! ERESOLVE unable to resolve dependency tree`
`npm ERR!`
`npm ERR! While resolving: wp-bootstrap-blocks@4.2.1`
`npm ERR! Found: prettier@2.2.1-beta-1`
`npm ERR! node_modules/prettier`
`npm ERR!   dev prettier@"npm:wp-prettier@

[2022-08-26 22:07] tschortsch commented on #112
You're right, I just pushed the updated npm dependencies to the master branch. `npm install` should now work again.

[2022-08-26 22:07] #112 closed

[2022-10-05 08:14] R33D3M33R opened #114 "Button block style is not applied in editor"
Dear developers,

the button block has two styles primary and secondary, but they are not applied to the editor on selection, because getEditWrapperProps in block.js only returns data-alignment (and not data-style). This means that changes for this select box cannot be previewed.

Please fix this if possible.

Best regards,
Andrej

[2022-10-25 11:43] isaumya commented on #114
Hi there,
I also agree, this is a great project with so many hooks and filters available to customize it even more. But the only problem with the `button` block is that on the back end it does not add any bootstrap class, so inside Gutenberg it look really bad despite all bootstrap styles being present to load.

For example, if I add a `button` block and select the style as `Primary` on the front

[2022-11-04 16:21] tschortsch commented on #114
You are right the Button block didn't get as much love as the grid components (since we're thinking that those are the ones used most with this plugin).

@isaumya We're not really loading the bootstrap css in the backend that's why we can't use the `btn-xy` classes in the editor to set the color. We will have to add a color property to the `styleOptions` which will define how the button should be

[2022-11-04 17:56] isaumya commented on #114
Hi @tschortsch,
Yes, I understand that you are not loading the bootstrap CSS on the backend and trust me that's the best part of the plugin. But I do load a tiny bit of bootstrap on the backend. So, having the ability to add that would be nice. I mean if not by default, maybe a filter, enabling which will add those classes so that in case the dev is loading the bootstrap CSS on the backend themsel

[2022-11-09 07:41] tschortsch commented on #114
@isaumya there are several issues with loading the Bootstrap CSS in the backend. The biggest one is that the HTML structure of the blocks in the editor is pretty different that you would build it with bootstrap directly. This makes it really hard to apply the correct classes there. There might be also version differences in the CSS which then would require you to define the exact version in the ba

[2022-11-09 07:44] tschortsch commented on #114
I released version 4.3.0 (https://github.com/liip/bootstrap-blocks-wordpress-plugin/releases/tag/4.3.0) of the plugin which reflects the selected button styles in the editor. There is also a `[data-style]="xy"` attribute added to the block itself to make it possible to apply own styles.

[2022-11-09 10:29] isaumya commented on #114
Hi @tschortsch,
I would like to inform you that with v4.3.0 the `wpBootstrapBlocks.button.styleOptions` filter is not taking effect. I've tested on WP v6.1 and with the new update (v4.3.0) none of my added style options shows in the editor. Initially I thought this might be happening due to WP v6.1 and spend some time debugging things. Then I reverted back to v4.2.1 and the custom style options ar

[2022-11-09 16:40] tschortsch commented on #114
Hmm I just tested on a clean WordPress site and on a clients project and it works in both places. But there is actually a regression that when the `wpBootstrapBlocks.button.styleOptions` filter is used but no `color` attribute is set the buttons appear invisible since they don't get a color applied. Maybe that's your issue? I will fix this bug as soon as possible.

[2022-11-09 17:15] tschortsch commented on #114
@isaumya Could you maybe send me the code snippet how you implemented to filter?

[2022-11-09 17:41] isaumya commented on #114
Hi @tschortsch,
forget about my code snippet, I literally tried the code snippet present in the [example doc](https://github.com/liip/bootstrap-blocks-wordpress-plugin#wpbootstrapblocksbuttonstyleoptions), put it in a file `editor.js` and loaded it using `enqueue_block_editor_assets` and there is nothing.

I did it as I initially thought that there might be some bug with my code so I tried the dum

[2022-11-09 17:48] isaumya commented on #114
Actually no. With the filter added in v4.3.0 under the style option, the custom styles don't even show up. Only `Primary` and `Secondary` shows up. Nothing else. But as soon as I move to v4.2.1 all the style options I added show up. Only on v4.3.0 does none of my custom-added options shows up. Even added the demo code, doesn't show up. Still only Primary & Secondary.

[2022-11-09 20:27] tschortsch commented on #114
Thanks for the detailed description. Sadly I still can't really reproduce this behavior 🤔 Could you maybe check your browsers console if there is any error related to that? And could you check in the network tab if your custom `editor.js` file gets loaded correctly? What WordPress version are you using? Till now I only checked your issue with 6.1.

[2022-11-10 13:00] tschortsch commented on #114
@isaumya one other question is at which point you're adding those filters. We moved the `applyFilter` call of the button block outside of the render() function so that all filters (of all the blocks) get applied consistently. Your `addFilter` call should happen before the block applies those filters which means it should be added as early as possible in the JavaScript loading chain. You should als

[2022-11-10 20:38] isaumya commented on #114
Hi @tschortsch,
Thank you so much for all the help. Loading the filter **outside** of `wp.domReady` did the trick.
Now the filter is working properly and all the custom style options are loading as well. But I have some important feedback (which might also be breaking change if people have already updated their hook for the v4.3.0). Here are the feedbacks:
1. You should use more appropriate names

[2022-11-11 07:16] tschortsch commented on #114
Happy that your custom styles now work properly. And thanks a lot for your feedback. I totally agree with you that the new property name might not be ideal. Maybe we'll change that in a later version but as you also mentioned this would be a breaking change so we have to be really careful doing that.

[2022-11-11 07:16] #114 closed

[2022-11-11 10:48] isaumya commented on #114
Hi @tschortsch,
yes as it's a breaking change, I think this should be pushed to an update ASAP before mass users adopt to v4.3.0 and update their codes. As you know most webmasters don't update the plugins immediately. So, having this change pushed quickly will mean that it will affect a much less number of people compared to pushing it in the future by when a lot more people might be using v4.3.0

[2022-11-11 10:54] tschortsch commented on #114
I see your point but right now it's also an issue of available time. If you have time to implement this change and provide a pull request we're open to integrate it in the plugin.

[2022-11-11 11:44] isaumya commented on #114
Hey @tschortsch, will editing just the [`edit.js`](https://github.com/liip/bootstrap-blocks-wordpress-plugin/blob/master/src/button/edit.js) work? Or do I also have to do anything else?

[2022-11-11 11:49] tschortsch commented on #114
To implement the feature itself theoretically yes. But we also need to update the documentation, the tests and the changelog which is normally the bigger part of the work 😅

[2022-11-11 12:11] isaumya commented on #114
Hi @tschortsch,
I'm currently working on the fix as we speak and after testing I will also update the documentation after I test the changes on my end to ensure everything is working. Then I will push the PR. Then you need to update any other tests, can you please do that?

[2022-11-11 14:05] isaumya commented on #114
Hi @tschortsch,
I've pushed a PR: https://github.com/liip/bootstrap-blocks-wordpress-plugin/pull/118
Can you please take a look? I've run all the tests and everything is working as expected. Please take a look and merge it if you can. 🙏🏼

[2022-11-16 07:14] tschortsch commented on #114
Hey @isaumya. Thanks for the PR. Version `5.1.0` is released. I renamed the `color` attribute to `bgColor` and added a `textColor` attribute. Like this we could assure backwards compatibility with the deprecated `color` attribute and avoid a breaking change.

[2022-11-16 07:36] isaumya commented on #114
Hi @tschortsch,
Thanks a lot for the update.